* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 150ms ease;
}

.main-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-family: sans-serif;
}

.score {
  display: flex;
  position: relative;
  width: 100%;
  height: 60%;
  min-height: 375px;
  justify-content: center;
}
.score_player, .score_computer {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.3rem;
  position: relative;
}
.score_player_label, .score_computer_label {
  position: absolute;
  top: 10%;
}
.score_player_score, .score_computer_score {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
}
.score_player {
  background-color: #d4d4d4;
  align-items: flex-end;
  color: black;
}
.score_player_label {
  right: 20%;
}
.score_player_score {
  right: 20%;
}
.score_player .icons {
  right: 20%;
}
.score_computer {
  background-color: #7c7c7c;
  align-items: flex-start;
}
.score_computer_label {
  left: 20%;
}
.score_computer_score {
  left: 20%;
}
.score_computer .icons {
  left: 20%;
  transform: scaleX(-1);
}
.score .icons {
  position: absolute;
  bottom: 10%;
}

.response {
  width: 100%;
  height: 5%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #303030;
  font-size: 2rem;
  background-color: #fff;
}
.response_text {
  font-weight: 100;
}

.buttons {
  width: 100%;
  height: 35%;
  min-height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.buttons_button {
  border: none;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
.buttons_button.rock {
  background-color: #d4c16c;
}
.buttons_button.paper {
  background-color: #fff;
  color: #303030;
}
.buttons_button.scissors {
  background-color: #887a7a;
}
.buttons_button:hover {
  filter: brightness(95%);
}
.buttons_button:active {
  filter: brightness(90%);
}