* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 150ms ease;
}

.main-content {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 60%;
  min-height: 375px;
}
.score_player, .score_computer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.score_player_label, .score_computer_label {
  font-size: 2rem;
  text-align: center;
  grid-row: span 2;
}
@media (min-width: 1000px) {
  .score_player_label, .score_computer_label {
    font-size: 3rem;
  }
}
.score_player_score, .score_computer_score {
  font-size: 4rem;
}
.score_player .icons, .score_computer .icons {
  opacity: 0.3;
  width: 75px;
}
@media (min-width: 1000px) {
  .score_player .icons, .score_computer .icons {
    width: 150px;
  }
}
.score_player {
  color: #197abb;
}
.score_player * {
  justify-self: flex-end;
}
.score_player_label {
  transform: rotate(-90deg);
}
.score_player_score {
  margin-right: 15px;
}
.score_player .icons {
  margin-right: 10px;
}
.score_computer {
  color: #ca2a2a;
}
.score_computer * {
  justify-self: flex-start;
}
.score_computer_label {
  transform: rotate(90deg);
}
.score_computer_score {
  margin-left: 15px;
}
.score_computer .icons {
  transform: scaleX(-1);
  margin-left: 10px;
}

.response {
  width: 100%;
  height: 5%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #303030;
  font-size: 2rem;
  background-color: #fff;
}
.response_text {
  font-weight: 100;
}

.buttons {
  width: 100%;
  height: 35%;
  max-width: 950px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 1em;
}
.buttons_button {
  border: none;
  border-radius: 1000px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #f8f8f8;
  color: #303030;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}
.buttons_button:hover {
  filter: brightness(95%);
}
.buttons_button:active {
  filter: brightness(90%);
}
.buttons_button:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
@media (min-width: 1000px) {
  .buttons_button {
    font-size: 1.5rem;
  }
}